.section-container{
    display: flex;
    justify-content: center;
}

.nav-container{
    background-color:#c50505 ;
    padding: 20px;
    border-width: 5px;
    border-bottom: #000000;
    border-style: solid;
}

.nav-container ul{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-container ul li{
    list-style: none;
    border: #000000 4px solid;
    padding: 15px;
}

.nav-container

#item-selcted{
    background-color: #c50505;
}